html {
    background: linear-gradient(to right, rgb(24, 0, 92) 0%, black 5%, black 95%, rgb(24, 0, 92) 100%);
}
/* Reset default margin and padding */
body, h1, ul, li {
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

/* Set font family and background color for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Black */
    color: white;
}

/* Header styling */
header {
    background-color: #514E51; /* Gray */
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
}

/* Logo (h1) on the left */
header h1.logo {
    margin: 0 auto;
    font-size: 1.7em;
    color: white; /* Light Blue */
    text-transform: uppercase;
}

/* Navbar (ul) on the left */
nav {
    position: fixed;
    left: 5%;
    top: 160px;
    width: 160px;
    background-color: #514E51; /* Gray */
    padding: 20px;
    border-radius: 10px;
}

/* Navbar list items (li) */
nav li {
    margin-bottom: 15px;
}

/* Aside Navbar links (a) */
nav a {
    color: #ffffff; /* White */
    text-decoration: none;
}

/* Aside link hover effect */

nav li:hover {
    color: black;
    background-color: rgb(190, 189, 189);
}

aside {
    position: fixed;
    right: 5%;
    top: 160px;
    width: 160px;
    background-color: #514E51; /* Gray */
    padding: 20px;
    border-radius: 10px;
}

/* Navbar list items (li) */
aside li {
    margin-bottom: 15px;
}

/* Aside Navbar links (a) */
aside a {
    color: #ffffff; /* White */
    text-decoration: none;
}

/* Aside link hover effect */

aside li:hover {
    color: black;
    background-color: rgb(190, 189, 189);
}

.container {
    margin-left: 140px;
    padding: 20px;
    color: white;
}

.container table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #C37020;
    border-radius: 5px;
}

.container td, th {
    border: 1px solid #C37020;
    padding: 5px;
}

.inspectButton {
    background-color: #C37020;
    color: white;
    padding: 2px 7px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

form, .detailView {
    margin: 0 auto;
    margin-right: 15%;
    width: 75%;
    background-color: #514E51;
    padding: 20px;
    border-radius: 10px; 
}

/* Basic form styling */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical; /* Allow vertical resizing for multi-line input */
}

/* Style the submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the order actions container */
.order-actions {
    display: flex;
    gap: 10px; /* Adjust the spacing between buttons */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Style the individual buttons */
.order-actions a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #C37020;
    border-radius: 4px;
    color: #C37020;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.order-actions a:hover {
    background-color: #C37020;
    color: #fff;
}

footer {
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 90%;
}