.navbar_link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.navbar {
    float: right;
    margin-top: 8px;
}

.navbar li {
    display: inline;
}

.navbar li + li {
    margin-left: 35px;
}

.navbar li a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

header h1.logo:hover {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #70b9fd;
    padding: 10px 0;
    height: 35px;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 10px;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 5px;
    border: 1px solid #000;
}

th {
    background-color: #70b9fd;
    color: #fff;
    font-weight: bold;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}