<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title>{{ title }} - ACS Porter</title>
        {% else %}
            <title>ACS Porter</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/standard.css') }}">
    </head>
    <body>

        <header>
            <h1 class="logo">ACS Porter</h1>
        </header>

        <nav>
            <h3>Functions</h3>
            <ul >
                
                <a href="{{ url_for('orders') }}"><li>All Orders</li></a>
                <a href="{{ url_for('new_order') }}"><li>New Order</li></a>
                
            </ul>
            <h3>Others</h3>
            <ul >
                <a href="{{ url_for('index') }}"><li>Home</li></a>
                <a href="{{ url_for('users') }}"><li>All Users</li></a>
                <a href="{{ url_for('register') }}"><li>New User</li></a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout') }}"><li>Logout</li></a>
                {% else %}
                    <a href="{{ url_for('login') }}"><li>Login</li></a>
                {% endif %}
            </ul>
        </nav>

        <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>

        <section class="container">
            {% block content %}{% endblock %}
        </section>

        <footer>
            <p>&copy; 2024 ACS</p>
        </footer>
    </body>
</html>