<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title>{{ title }} - ACS Porter</title>
        {% else %}
            <title>ACS Porter</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/standard.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
            <h1 class="logo">ACS Porter</h1>
            <nav>
                <ul class="navbar">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('orders') }}">Orders</a></li>
                    <li><a href="{{ url_for('new_order') }}">New Order</a></li>
                </ul>
            </nav>
            </div>
        </header>
        
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <section>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        {% endwith %}
        <section>
            {% block content %}{% endblock %}
        </section>
        <footer>
            <p>&copy; 2024 ACS</p>
        </footer>
    </body>
</html>