{% extends "base.html" %}
{% block content %}
    <div class="detailView">
        <h2>ACS Porter</h2>
        <p>Use the menu to the left to manage PO records</p>
    </div>
    <br>
    <div class="detailView">
        <h2>ALPHA BUILD DETAILS</h2>
        <p>This is in Alpha. Rapid changes may occur.</p>
        <p>Current features include:</p>
        <p>
            <ul>
                <li>Order records can be created, edited, and deleted</li>
                <li>Order records can be viewed in detail</li>
                <li>Technically a functional user interface</li>
            </ul>
        </p>
        <p>
            Future features include:
            <ul>
                <li>Better User Experience!</li>
                <li>Order record pagination</li>
                <li>Order record search</li>
                <li>Diet version with no added sugar</li>
                <li>Order record filtering</li>
                <li>Order record sorting</li>
                <li>Order record export</li>
                <li>Order record import</li>
                <li>The ability to wash windows</li>
                <li>API for desktop apps</li>
            </ul>
        </p>
    </div>

{% endblock %}