{% extends "base.html" %}

{% block content %}
    <h1>New Order</h1>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="name">Name</label>
            {{ form.name(class="form-control", placeholder="Enter name") }}
        </div>
        <div class="form-group">
            <label for="ticket_number">Ticket Number</label>
            {{ form.ticket_number(class="form-control", placeholder="Enter ticket number") }}
        </div>
        <div class="form-group">
            <label for="date">Date Ordered</label>
            {{ form.date(class="form-control", placeholder="Enter date") }}
        </div>
        <div class="form-group">
            <label for="expected_delivery">Expected Delivery</label>
            {{ form.expected_delivery(class="form-control", placeholder="Expected Delivery Date") }}
        </div>
        
        <div class="form-group">
            <label for="tracking_number">Tracking Number</label>
            {{ form.tracking_number(class="form-control", placeholder="Enter tracking number") }}
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            {{ form.price(class="form-control", placeholder="Enter price") }}
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            {{ form.status(class="form-control", placeholder="Enter status") }}
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            {{ form.description(rows="8", class="form-control", placeholder="Enter description") }}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}