{% extends "base.html" %}



{% block content %}
<script>
    nav = document.getElementsByTagName('nav')[0];
    nav.innerHTML += `
        <h3>Select by Status</h3>
        <ul class="navbar">
            <li><a href="{{ url_for('orders_by_status', state='Ordered')}}">Ordered</a></li>
            <li><a href="{{ url_for('orders_by_status', state='Shipped')}}">Shipped</a></li>
            <li><a href="{{ url_for('orders_by_status', state='Delivered')}}">Delivered</a></li>
        </ul>
    `;
</script>
    <h1>Orders</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Ticket #</th>
            <th>Order Name</th>
            <th>Order Date</th>
            <th>Expected Delivery</th>
            <th>Order Status</th>
            <th></th>
        </tr>
        {% for order in orders %}
        
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.ticket_number }}</td>
                <td>{{ order.name }}</td>
                {% if order.date %}
                    <td>{{ order.date.strftime('%m-%d-%Y') }}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                {% if order.expected_delivery %}
                    <td>{{ order.expected_delivery.strftime('%m-%d-%Y') }}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                <td>{{ order.status }}</td>
                <td><a class="inspectButton" href="{{ url_for('order', order_id=order.id) }}">Inspect</a></td>
            </tr>
        
        {% endfor %}
    </table>
{% endblock %}